- var id = 5.toString()
- answer() => 42
a(href='/user/' + id, class='button')
a(href  =  '/user/' + id, class  =  'button')
meta(key='answer', value=answer())
a(class = ['class1', 'class2'])
a.tag-class(class = ['class1', 'class2'])